.footer {
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
    }
    &__logo {
        width: 15rem;
        height: auto;
    }
    &__navigation {

    }
    &__list {
        list-style: none;
    }
    &__items {
        display: inline-block;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            color:#f7f7f7;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:hover,
        &:active {
            columns: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.2);
        }
    }
}