.header{
    height: 95vh;
    background-image: 
    linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark ,0.8)
    ) , 
    url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0,  100% 0, 100% 70vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    &__logo{
        height: 3.5rem;
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: transparent;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    letter-spacing: 2px;
    transition: all .2s;

    &:hover{
        transform: skewY(10deg) skewX(5deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-primary-dark ,0.2); 
    }
    
}


