.navigation {

    &__checkbox{
        display: none;
    }
    &__button {
        background-color: white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &__background {
        height:6rem;
        width: 6rem;
        position: fixed;
        border-radius: 50%;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;
        transition: all  .8s;
    }

    &__nav {
        height: 100vh; 
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1050;
        opacity: 0;
        width: 0;
        transition: all .2s; 
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: 
            linear-gradient(
                225deg,
                white 0,
                white 50%,
                transparent 50%
            );
            background-size: 250%;
            transition: all .4s;
        }
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary-dark;

        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100vw;
    }

    &__icon {
        margin-top: 3.5rem;
        position: relative;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: #333;
            display: inline-block;
        }

        &::after, 
        &::before {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before {
            top:-1rem;
        }
        &::after {
             top: 1rem;
        }
    }
    &__button:hover 
    &__icon::before {
        top: -1.2rem
    }

    &__button:hover 
    &__icon::after { 
        top: 1.2rem
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }
    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }
    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-45deg);
    }
}