@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//MEDIA QUERIES MANAGER

/*
0 - 600:            Phone
600 - 900 :     Tablet Portrait
900 - 1200:     Tablet Landscape
1200 - 1800 :   Normal Style
1800+:              Big Desktop
*/

// 1em = 16px
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}
    };
    @if $breakpoint == tab-port {
        @media (max-width: 53.25em) {@content}
    };
    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}
    };
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}
    };
}