.composition {
    position: relative;
    transition: all .2s;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .4);
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color: #000000, $alpha: .5);
            z-index: 20;
        }

    }
    &:hover &__photo:not(:hover){
        transform: scale(.9);
    }
}