.feature-box {
    background-color: rgba($color: #fff, $alpha: .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: .15);
    transition: all .2s;

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        color: transparent;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text
    }

    &:hover {
        transform: translateY(-1.5rem);
    }
}