.popup {
    background-color: rgba($color: #000000, $alpha: .8);
    height: 100vh; 
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s;

    &:target {
        opacity: 1;
        visibility: visible;
    }
    &__close {
        &:link,
        &:visited {
            color: #333;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
        }
    }

    &__content {
        width: 75%;
        height: 75%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        border-radius: 3px;
        display: table;
        overflow: hidden;
    }

    &__left {
        width: 33.333%;
        display: table-cell;
    }

    &__right {
        display: table-cell;
        width: 33.333%;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__text {
        font-size: 1.2rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid #eee;
    
        hyphens: auto;
    }
}