.dispClockMili {
    display: flex;
    flex-direction: column-reverse;
    min-width: 3em;
    h5 {
        color: #fff;
        font-size: 2em;
        font-weight: 300;
        margin: 0 0 em 0;
    }
}

.dispClock {
    display: flex;
    // flex-direction: column;
    align-items: center;

    h1 {
        color: #fff;
        font-size: 8em;
        font-weight: 300;
        margin: 0;
    }

    p {
    color: #fff;
    margin: 0;
    font-size: 2em;
    }
}