@keyframes moveInLeft {
    0% {
            opacity: 0;
            transform: translateX(-10rem);
    }

    80% {
            transform: translateX(2rem);
    }

    100% {
            opacity: 1;
            transform: translate(0);
    }
}

@keyframes moveItRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    80% {
        transform: translateX(-.2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes moveItTop {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }


    100% {
        opacity: 1;
        transform: translateY(0);
    }
}