.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.u-margin-bottom-margin {
    margin-bottom: 4rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}