body {
    background-color: #eee;
    box-sizing: border-box;
}


.container {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    font-size: large;
}

.item {
    background-color: orangered;
    padding: 20px;
}

.header {
    grid-column: 1/5;
}

.main-content {
    grid-column: 1/4;
    grid-row: 3/5;
}

.sidebar {
    grid-column: 4/5;
    grid-row: 2/5;
}

.footer {
    grid-column: 1/5;
}