.button {
    border: none;
    color : #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.primary {background-color: #008CBA;}  /*  Blue*/
.secondary {background-color: #e7e7e7; color: #000;}  /*  Grey*/
.success {background-color: #4CAF50;}  /*  Green*/
.danger {background-color: #f44336;}  /*  Red*/
